hr {border-top: 1px solid #fff; width:50%;}


a:link{text-decoration:none;}

#contact2{
    letter-spacing:3px;
}

#author a{
  color: #fff;
  text-decoration: none;
    
}
.contact 
{

    color: white;
}

#form 
{

    margin-top: 10rem;

}



.block
{
    min-height: 15rem;

}