.gallery img
{
    transition: 1s;
    height: 10rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.gallery img:hover
{
    transform: scale(1.1);
    filter: grayscale(50%);
}

/* Divider */
hr.solid {
    width: 33%;
    border-top: 3px solid #ffffff;
    opacity: 1;
}
h1
{
    font-size: 5rem;
}

.thumb{
    margin-bottom: 30px;
}

img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
}

section
{
    min-height: 20rem;
}

.video
{
}