/*@keyframes slideIn {
    0% {
      transform: translateY(+100%);
      opacity: 0.1;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }*/

* {
    box-sizing: border-box;
  }

h1
{
    font-size: 5rem;
}
h2
{
    font-size: 3rem;
}



header
{
    height: 40rem;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3    ) ), url("../assets/sau/bg1.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.masthead-heading
{
    margin-top: 10rem;
}



section
{
  /*  margin-top: 100px;
    margin-bottom: 100px;*/
    padding-top: 75px;
    padding-bottom: 75px;
    /*min-height: 40rem;*/
    height: fit-content;
}

/*.animation.start{
    animation: 1s ease-out 0s 1 slideIn;
    /*duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name */
}*/


/* Divider*/
hr.solid {
    width: 33%;
    border-top: 3px solid #ffffff;
    opacity: 1;
}

/* Icon */
.fa {
    font-size: 100px;
    color: black;
  }

  a{
    text-decoration: none;
}
