:root{
    --ieeeblue: #00629B;  /*rgb(0,98,155)*/
    --white: #fff;
    --black: #000;
}

* {
    box-sizing: border-box;
  }


nav li{
    font-weight: bold;
}

.bg-ieee{
    background-color: var(--ieeeblue);
}

.bg-white{
    background-color: var(--white);
}

.text-black{
    color: var(--black);
}

.text-white{
    color: var(--white);
}

.text-ieee{
    color: var(--ieeeblue);
}

.margin-top10{
    margin-top: 10px;
}

.margin-bottom10{
    margin-bottom: 10px;
}

.margin-bottom25{
    margin-bottom: 25px;
}

.margin-bottom50{
    margin-bottom: 50px;
}

.margin-bottom75{
    margin-bottom: 75px;
}

.margin-auto{
    margin: auto;
}

.padding-bottom10{
    padding-bottom: 10px;
}

.margin10{
    margin: 10px;
}

.padding10{
    padding: 10px;
}

.padding20{
    padding: 20px;
}
.margin-top25p{
    margin-top: 25%;
}
.margin-bottom25p{
    margin-bottom: 25%;
}
.div-underline{
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

.margin-fit{
    margin:auto;
    width: fit-content;
}

.italic{
    font-style: italic;
}

.justify{
    text-align: justify;
}

.text18{
    font-size: 18pt;
}

.text14{
    font-size: 14pt;
}

table{
    border-radius: 4px;
}


.custom-select{
    color: white;
    background-color: #00629B;
    text-align: center;
    border: 0;
  }
  
  .custom-select:focus{
    color: white;
    background-color: #00629B;
    text-align: center;
    border: 0;
  }

  
.custom-select-white{
    color: #00629B;
    background-color: white;
    text-align: center;
    border: 0;
  }

  .custom-select-white:focus{
    color: #00629B;
    background-color: white;
    text-align: center;
    border: 0;
  }
  
  .management{
    padding: 25px 100px;
  }

  .management-photo{
    width: 200px; height: 200px; overflow: hidden; border-radius: 50%;
    margin: 0 auto 25px auto;
  }

  .management-name{
    color: var(--ieeeblue);
  }

  .management-title{

  }

  .inline-block
{
    display: inline-block;
}